<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Contact Form</title>
  </head>

  <body style="font-family: Arial, sans-serif">
    <h2>New Contact Form Submission</h2>

    <hr />

    <p><strong>Name:</strong> {{ name }}</p>

    <p><strong>Email:</strong> {{ email }}</p>

    <p><strong>WhatsApp Number:</strong> {{ whatsapp_number }}</p>

    <p><strong>Service Required:</strong> {{ solution_required }}</p>

    <p><strong>Project Details:</strong></p>
    <p>{{ problem_faced }}</p>
  </body>
</html>
